<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns="http://www.w3.org/1999/html">-->
<!--<body>-->

<!--<header th:fragment="header" id="header">-->
<!--   <div class="header-right align-items-center d-flex">-->
<!--      <div class="flex-grow-1 d-flex align-items-center">-->
<!--         <a class="navbar-brand logo" th:href="@{/}">-->
<!--            <img th:src="@{/images/logo.jpg}" height="50" alt="Logo" />-->
<!--         </a>-->
<!--         <nav class="navbar navbar-expand-lg  w-100">-->

<!--            <div class="container-fluid">-->
<!--               <div class="collapse navbar-collapse">-->
<!--                  <ul class="navbar-nav">-->
<!--                     <li class="nav-item ps-3">-->
<!--                        <a th:href="@{/book/add}" class="nav-link px-2 text-truncate" > <i class="fa-solid fa-file-pen fa-lg"></i> New Book</a>-->
<!--                     </li>-->
<!--                     <li class="nav-item ps-3">-->
<!--                        <a th:href="@{/books}" class="nav-link px-2 text-truncate" > <i class="fa-solid fa-file-pen fa-lg"></i> All Book</a>-->
<!--                     </li>-->

<!--                     <li class="nav-item ps-3">-->
<!--                        <a th:href="@{/author/add}" class="nav-link px-2 text-truncate" > <i class="fa-solid fa-file-pen fa-lg"></i> New Author</a>-->
<!--                     </li>-->

<!--                  </ul>-->
<!--               </div>-->
<!--            </div>-->

<!--         </nav>-->
<!--      </div>-->
<!--   </div>-->
<!--</header>-->

<!--</body>-->
<!--</html>-->